In [1]:
# Dependencies
import requests
import pandas as pd
import matplotlib as plt
import numpy as np
import json
import sqlalchemy
from sqlalchemy import create_engine
from pymongo import MongoClient
import warnings 
warnings.filterwarnings("ignore")

In [2]:
# Save url as variable
url = "https://us-states.p.rapidapi.com/all"

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "us-states.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers)
data = response.json()

In [3]:
# Write the data to a json file
with open('../data/states_data.json', 'w') as outfile:
    json.dump(data, outfile, indent=4)

In [4]:
# Create a pandas data frame
df = pd.json_normalize(response.json())
df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,symbols.handgun,symbols.hymn,symbols.star,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,AS,"Feb 20, 1929",Motu o Fiafiaga,60,American Samoan,"[{'name': 'Tafuna', 'population': '7945'}, {'n...",Pacific Ocean,Lata Mountain on Ta‘ū island,https://www.americansamoa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Guam,GU,"Apr 11, 1899",Tano y Chamorro,66,Guamanian,"[{'name': 'Dededo', 'population': '44943'}, {'...",Pacific Ocean,Mount Lamlam,https://www.guam.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Northern Mariana Islands,MP,"Jan 9, 1978",Håfa Adai,69,Mariana Islander,"[{'name': 'Saipan', 'population': '48220'}, {'...",Pacific Ocean,Unnamed point on Agrihan island,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Puerto Rico,PR,"Apr 11, 1899",Isla del Encanto,72,Puerto Rican,"[{'name': 'San Juan', 'population': '320967'},...",Atlantic Ocean (Caribbean sea),Cerro de Punta,https://pr.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Colt Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,U.S. Virgin Islands,VI,"Mar 31, 1917",Twin City,49,Virgin Islander,"[{'name': 'Charlotte Amalie', 'population': '1...",Atlantic Ocean (Caribbean Sea),Crown Mountain on the island of Saint Thomas,https://www.vi.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,NaN,"Utah, We Love Thee",Dubhe,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
49,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,NaN,NaN,NaN,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
50,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
51,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
52,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
53,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
55,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Drop all territories and reset index
df = df.drop(index=[2,11,36,41,47]).reset_index(drop=True)
df

,name,postal,date,nickname,fips,demonym,cities,lowest_point,highest_point,website,...,symbols.handgun,symbols.hymn,symbols.star,symbols.astronomical symbol,symbols.emblem,symbols.heritage livestock,symbols.bat,symbols.oyster,symbols.cocktail,symbols.domestic animal
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,"[{'name': 'Huntsville', 'population': '215006'...",Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"[{'name': 'Anchorage', 'population': '291538'}...","Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"[{'name': 'Phoenix', 'population': '1660272'},...","Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,"[{'name': 'Little Rock', 'population': '197881...",Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,CA,"Sep 9, 1850",Golden State,06,Californian,"[{'name': 'Los Angeles', 'population': '399798...",Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,"[{'name': 'Denver', 'population': '719238'}, {...",Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,"[{'name': 'Bridgeport', 'population': '144900'...",Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,"[{'name': 'Wilmington', 'population': '70635'}...",Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,"[{'name': 'Jacksonville', 'population': '90795...",Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,"[{'name': 'Atlanta', 'population': '504527'}, ...",Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,"[{'name': 'Honolulu', 'population': '347397'},...",Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,"[{'name': 'Boise', 'population': '228790'}, {'...",Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,"[{'name': 'Chicago', 'population': '2705994'},...",Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,"[{'name': 'Indianapolis', 'population': '86712...",Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,"[{'name': 'Des Moines', 'population': '216853'...",Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,"[{'name': 'Wichita', 'population': '389225'}, ...",Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,"[{'name': 'Louisville', 'population': '620578'...",Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,"[{'name': 'New Orleans', 'population': '399187...",New Orleans,Driskill Mountain,http://louisiana.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,"[{'name': 'Portland', 'population': '66417'}, ...",Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,"[{'name': 'Baltimore', 'population': '594282'}...",Atlantic Ocean,Hoye-Crest,www.maryland.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,"[{'name': 'Boston', 'population': '699927'}, {...",Atlantic Ocean,Mount Greylock,http://www.mass.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,"[{'name': 'Detroit', 'population': '672662'}, ...",Lake Erie,Mount Arvon,http://www.michigan.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,"[{'name': 'Minneapolis', 'population': '427728...",Lake Superior,Eagle Mountain,http://mn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,"[{'name': 'Jackson', 'population': '164422'}, ...",Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,"[{'name': 'Kansas City', 'population': '507928...",Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,"[{'name': 'Billings', 'population': '116827'},...",Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,"[{'name': 'Omaha', 'population': '468262'}, {'...",Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,"[{'name': 'Las Vegas', 'population': '649876'}...",Colorado River at California border,Boundary Peak,http://www.nv.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,"[{'name': 'Manchester', 'population': '112525'...",Atlantic Ocean,Mount Washington,http://www.nh.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,"[{'name': 'Newark', 'population': '282090'}, {...",Atlantic Ocean,High Point,www.nj.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,"[{'name': 'Albuquerque', 'population': '560218...",Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,"[{'name': 'New York City', 'population': '8879...",Atlantic Ocean,Mount Marcy,https://www.ny.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,"[{'name': 'Charlotte', 'population': '882367'}...",Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,"[{'name': 'Fargo', 'population': '124844'}, {'...",Red River of the North at Manitoba border,White Butte,http://nd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,"[{'name': 'Columbus', 'population': '895477'},...",Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,"[{'name': 'Oklahoma City', 'population': '6490...",Little River at Arkansas border,Black Mesa,http://www.ok.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,"[{'name': 'Portland', 'population': '661189'},...",Pacific Ocean,Mount Hood,http://www.oregon.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,"[{'name': 'Philadelphia', 'population': '15878...",Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,"[{'name': 'Providence', 'population': '179335'...",Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,"[{'name': 'Charleston', 'population': '136208'...",Atlantic Ocean,Sassafras Mountain,https://sc.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,"[{'name': 'Sioux Falls', 'population': '181883...",Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,"[{'name': 'Nashville', 'population': '681928'}...",Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,"[{'name': 'Houston', 'population': '2325502'},...",Gulf of Mexico,Guadalupe Peak,http://texas.gov/,...,Colt Walker,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,"[{'name': 'Salt Lake City', 'population': '200...",Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,...,NaN,"Utah, We Love Thee",Dubhe,Beehive Cluster,Beehive,NaN,NaN,NaN,NaN,NaN
44,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,"[{'name': 'Burlington', 'population': '42899'}...",Lake Champlain,Mount Mansfield,http://www.vermont.gov/,...,NaN,NaN,NaN,NaN,NaN,Randall Lineback Cattle,NaN,NaN,NaN,NaN
45,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,"[{'name': 'Virginia Beach', 'population': '450...",Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,Virginia Big-Eared Bat,NaN,NaN,NaN
46,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,"[{'name': 'Seattle', 'population': '754567'}, ...",Pacific Ocean,Mount Rainier,http://access.wa.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Olympia Oyster,NaN,NaN
47,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,NaN,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rickey,NaN
48,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,"[{'name': 'Charleston', 'population': '47215'}...",Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,"[{'name': 'Milwaukee', 'population': '592025'}...",Lake Michigan,Timms Hill,http://www.wisconsin.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dairy cow
50,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,"[{'name': 'Cheyenne', 'population': '63957'}, ...",Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Drop any columns that have null values
df = df.dropna(axis=1)
df

,name,postal,date,nickname,fips,demonym,lowest_point,highest_point,website,per_capita_income,...,area.total_rank,area.land_mi,area.water_km,area.total_km,area.land_percent,area.water_mi,area.water_percent,census_bureau.region,census_bureau.division,symbols.tree
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,"$23,606",...,30,50645.33,4597,135767,96.61,1774.74,3.39,South,East South Central,Southern Longleaf Pine
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,"$33,062",...,1,570640.95,245384,1723337,85.76,94743.1,14.24,West,Pacific,Sitka Spruce
2,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,"$25,715",...,6,113594.08,1026,295234,99.65,396.22,0.35,West,Mountain,Palo Verde
3,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,"$22,883",...,29,52035.48,2961,137732,97.85,1143.07,2.15,South,West South Central,Pine Tree
4,California,CA,"Sep 9, 1850",Golden State,06,Californian,Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,"$30,441",...,3,155779.22,20501,423967,95.16,7915.52,4.84,West,Pacific,"Coast Redwood,Giant Sequoia"
5,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,"$32,357",...,8,103641.89,1170,269601,99.57,451.78,0.43,West,Mountain,Colorado Blue Spruce
6,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,"$39,373",...,48,4842.36,1816,14357,87.35,701.06,12.65,Northeast,New England,Charter Oak
7,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,"$30,488",...,50,1948.54,1399,6446,78.29,540.18,21.71,South,South Atlantic,American Holly
8,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,"$26,582",...,22,53624.76,31424,170312,81.55,12132.94,18.45,South,South Atlantic,Sabal Palm
9,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,"$25,615",...,24,57513.49,4951,153910,96.78,1911.66,3.22,South,South Atlantic,Southern Live Oak
10,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,"$29,736",...,43,6422.63,11678,28313,58.75,4509.09,41.25,West,Pacific,Kukui Tree
11,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,"$23,938",...,14,82643.12,2398,216443,98.89,925.83,1.11,West,Mountain,Western White Pine
12,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,"$30,417",...,25,55518.93,6202,149995,95.87,2394.62,4.13,Midwest,East North Central,White Oak
13,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,"$25,140",...,38,35826.11,1537,94326,98.37,593.44,1.63,Midwest,East North Central,Tulip Tree
14,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,"$28,361",...,26,55857.13,1077,145746,99.26,415.68,0.74,Midwest,West North Central,Oak
15,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,"$27,870",...,15,81758.72,1346,213100,99.37,519.64,0.63,Midwest,West North Central,Cottonwood
16,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,"$23,684",...,37,39486.34,2387,104656,97.72,921.46,2.28,South,East South Central,Tulip Poplar
17,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,New Orleans,Driskill Mountain,http://louisiana.gov/,"$24,800",...,31,43203.9,23761,135659,82.48,9174.23,17.52,South,West South Central,Bald Cypress
18,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,"$27,978",...,39,30842.92,11750,91633,87.18,4536.82,12.82,Northeast,New England,Eastern White Pine
19,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,Atlantic Ocean,Hoye-Crest,www.maryland.gov,"$36,338",...,42,9707.24,6990,32131,78.25,2698.69,21.75,South,South Atlantic,White Oak
20,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,Atlantic Ocean,Mount Greylock,http://www.mass.gov/,"$36,593",...,44,7800.06,7134,27336,73.9,2754.33,26.1,Northeast,New England,American Elm
21,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,Lake Erie,Mount Arvon,http://www.michigan.gov/,"$26,613",...,11,56538.9,104052,250487,58.46,40174.61,41.54,Midwest,East North Central,Eastern White Pine
22,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,Lake Superior,Eagle Mountain,http://mn.gov/,"$32,638",...,12,79626.74,18930,225163,91.59,7309.09,8.41,Midwest,West North Central,Norway Pine
23,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,"$21,036",...,32,46923.27,3907,125438,96.89,1508.51,3.11,South,East South Central,Southern Magnolia
24,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,"$26,126",...,21,68741.52,2501,180540,98.61,965.47,1.39,Midwest,West North Central,Flowering Dogwood
25,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,"$25,989",...,4,145545.8,3869,380831,98.98,1493.91,1.02,West,Mountain,Ponderosa Pine
26,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,"$27,446",...,16,76824.17,1356,200330,99.32,523.64,0.68,Midwest,West North Central,Cottonwood
27,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,Colorado River at California border,Boundary Peak,http://www.nv.gov/,"$25,773",...,7,109781.18,2048,286380,99.28,790.65,0.72,West,Mountain,Bristlecone Pine
28,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,Atlantic Ocean,Mount Washington,http://www.nh.gov/,"$34,691",...,46,8952.65,1027,24214,95.76,396.51,4.24,Northeast,New England,White Birch
29,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,Atlantic Ocean,High Point,www.nj.gov,"$37,288",...,47,7354.22,3544,22591,84.31,1368.36,15.69,Northeast,Mid-Atlantic,Northern Red Oak
30,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,"$23,683",...,5,121298.15,757,314917,99.76,292.15,0.24,West,Mountain,Two-Needle Pinon Pine
31,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,Atlantic Ocean,Mount Marcy,https://www.ny.gov/,"$33,095",...,27,47126.4,19240,141297,86.38,7428.58,13.62,Northeast,Mid-Atlantic,Sugar Maple
32,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,"$25,774",...,28,48617.91,13471,139391,90.34,5201.25,9.66,South,South Atlantic,Pine Tree
33,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,Red River of the North at Manitoba border,White Butte,http://nd.gov/,"$33,071",...,19,69000.8,4397,183108,97.6,1697.52,2.4,Midwest,West North Central,American Elm
34,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,"$26,937",...,34,40860.69,10269,116098,91.15,3964.89,8.85,Midwest,East North Central,Ohio Buckeye
35,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,Little River at Arkansas border,Black Mesa,http://www.ok.gov/,"$25,229",...,20,68594.92,3377,181037,98.13,1303.95,1.87,South,West South Central,Redbud
36,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,Pacific Ocean,Mount Hood,http://www.oregon.gov/,"$27,646",...,9,95988.01,6191,254799,97.57,2390.53,2.43,West,Pacific,Douglas-Fir
37,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,"$29,220",...,33,44742.7,3397,119280,97.15,1311.64,2.85,Northeast,Mid-Atlantic,Eastern Hemlock
38,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,"$30,830",...,52,1033.81,1324,4001,66.92,511.07,33.08,Northeast,New England,Red Maple
39,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,Atlantic Ocean,Sassafras Mountain,https://sc.gov/,"$24,596",...,40,30060.7,5076,82933,93.88,1959.79,6.12,South,South Atlantic,Sabal Palmetto
40,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,"$26,959",...,17,75811,3379,199729,98.31,1304.68,1.69,Midwest,West North Central,Black Hills Spruce
41,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,"$24,922",...,36,41234.9,2355,109153,97.84,909.36,2.16,South,East South Central,Tulip Poplar
42,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,Gulf of Mexico,Guadalupe Peak,http://texas.gov/,"$27,125",...,2,261231.71,19075,695662,97.26,7364.75,2.74,South,West South Central,Pecan
43,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,"$24,877",...,13,82169.62,7064,219882,96.79,2727.26,3.21,West,Mountain,Quaking Aspen
44,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,Lake Champlain,Mount Mansfield,http://www.vermont.gov/,"$29,178",...,45,9216.66,1035,24906,95.84,399.71,4.16,Northeast,New England,Sugar Maple
45,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,"$34,052",...,35,39490.09,8508,110787,92.32,3284.84,7.68,South,South Atlantic,American Dogwood
46,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,Pacific Ocean,Mount Rainier,http://access.wa.gov/,"$31,841",...,18,66455.52,12542,184661,93.21,4842.43,6.79,West,Pacific,Western Hemlock
47,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,"$45,877",...,56,61.05,19,177,89.33,7.29,10.67,South,South Atlantic,Scarlet Oak
48,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,"$22,714",...,41,24038.21,497,62756,99.21,191.83,0.79,South,South Atlantic,Sugar Maple
49,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,Lake Michigan,Timms Hill,http://www.wisconsin.gov/,"$28,213",...,23,54157.8,29367,169635,82.69,11338.57,17.31,Midwest,East North Central,Sugar Maple
50,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,"$29,698",...,10,97093.14,1864,253335,99.26,719.87,0.74,West,Mountain,Plains Cottonwood

In [7]:
# Check the counts
df.count()

name                       51
postal                     51
date                       51
nickname                   51
fips                       51
demonym                    51
lowest_point               51
highest_point              51
website                    51
per_capita_income          51
median_household_income    51
status                     51
standard_federal_region    51
ap_abbreviation            51
gpo_abbreviation           51
representatives            51
time_zones                 51
koppen_climate             51
motto                      51
subdivisions               51
capital.name               51
capital.latitude           51
capital.longitude          51
population.density_km      51
population.total           51
elevation.min_ft           51
elevation.min_m            51
elevation.mean_ft          51
elevation.max_rank         51
elevation.max_ft           51
elevation.span_ft          51
elevation.mean_rank        51
elevation.span_m           51
elevation.mean_m           51
elevation.max_m            51
area.total_mi              51
area.land_rank             51
area.land_km               51
area.water_rank            51
area.total_rank            51
area.land_mi               51
area.water_km              51
area.total_km              51
area.land_percent          51
area.water_mi              51
area.water_percent         51
census_bureau.region       51
census_bureau.division     51
symbols.tree               51
dtype: int64

In [8]:
# Drop all unnecessary columns
states_df = df.drop(columns=['ap_abbreviation','area.land_km','area.water_rank','area.total_rank','area.land_mi','area.water_km','area.total_km','area.land_percent','area.water_mi','area.water_percent','elevation.min_ft','elevation.min_m','elevation.mean_ft','elevation.max_rank','elevation.max_ft','elevation.span_ft','elevation.mean_rank','elevation.span_m','elevation.mean_m','elevation.max_m','area.total_mi','population.density_km','koppen_climate','subdivisions','status','standard_federal_region','gpo_abbreviation','census_bureau.region','census_bureau.division'])
states_df

,name,postal,date,nickname,fips,demonym,lowest_point,highest_point,website,per_capita_income,median_household_income,representatives,time_zones,motto,capital.name,capital.latitude,capital.longitude,population.total,area.land_rank,symbols.tree
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,"$23,606","$49,861",7,[CST],Audemus jura nostra defendere,Montgomery,32.377716,-86.300568,5024279,28,Southern Longleaf Pine
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,"$33,062","$74,346",1,"[AKST, HST]",North to the Future,Juneau,58.301598,-134.420212,733391,1,Sitka Spruce
2,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,"$25,715","$59,246",9,[MST],Ditat Deus,Phoenix,33.448143,-112.096962,7151502,6,Palo Verde
3,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,"$22,883","$47,062",4,[CST],Regnat populus,Little Rock,34.746613,-92.288986,3011524,27,Pine Tree
4,California,CA,"Sep 9, 1850",Golden State,06,Californian,Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,"$30,441","$75,277",53,[PST],Eureka,Sacramento,38.576668,-121.493629,39538223,3,"Coast Redwood,Giant Sequoia"
5,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,"$32,357","$71,953",7,[MST],Nil sine numine,Denver,39.739227,-104.984856,5773714,8,Colorado Blue Spruce
6,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,"$39,373","$76,348",5,[EST],Qui transtulit sustinet,Hartford,41.764046,-72.682198,3605944,48,Charter Oak
7,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,"$30,488","$64,805",1,[EST],Liberty and independence,Dover,39.157307,-75.519722,989948,50,American Holly
8,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,"$26,582","$55,462",27,[CST],In God we trust,Tallahassee,21.307442,-157.857376,21538187,26,Sabal Palm
9,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,"$25,615","$58,756",14,[EST],"Wisdom, Justice, Moderation",Atlanta,30.438118,-84.281296,10711908,21,Southern Live Oak
10,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,"$29,736","$80,212",2,[HST],Ua Mau ke Ea o ka ‘Āina i ka Pono,Honolulu,33.749027,-84.388229,1455271,47,Kukui Tree
11,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,"$23,938","$55,583",2,"[MST, PST]",Esto perpetua,Boise,43.617775,-116.199722,1839106,11,Western White Pine
12,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,"$30,417","$65,030",18,[CST],"State sovereignty, national union",Springfield,39.798363,-89.654961,12812508,24,White Oak
13,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,"$25,140","$55,746",9,"[CST, EST]",The crossroads of America,Indianapolis,39.768623,-86.162643,6785528,38,Tulip Tree
14,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,"$28,361","$59,955",4,[CST],Our liberties we prize and our rights we will ...,Des Moines,41.591087,-93.603729,3190369,23,Oak
15,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,"$27,870","$58,218",4,"[CST, EST]",Ad astra per aspera,Topeka,39.048191,-95.677956,2937880,13,Cottonwood
16,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,"$23,684","$50,247",6,"[CST, EST]","United we stand, divided we fall",Frankfort,38.186722,-84.875374,4505836,37,Tulip Poplar
17,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,New Orleans,Driskill Mountain,http://louisiana.gov/,"$24,800","$47,905",6,[CST],"Union, justice, and confidence",Baton Rouge,30.457069,-91.187393,4657757,33,Bald Cypress
18,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,"$27,978","$55,602",2,[EST],Dirigo,Augusta,44.307167,-69.781693,1362359,39,Eastern White Pine
19,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,Atlantic Ocean,Hoye-Crest,www.maryland.gov,"$36,338","$83,242",8,[EST],"Fatti maschi, parole femmine",Annapolis,38.978764,-76.490936,6177224,42,White Oak
20,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,Atlantic Ocean,Mount Greylock,http://www.mass.gov/,"$36,593","$79,835",9,[EST],Ense petit placidam sub libertate quietem,Boston,42.358162,-71.063698,7029917,45,American Elm
21,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,Lake Erie,Mount Arvon,http://www.michigan.gov/,"$26,613","$56,697",14,"[CST, EST]",Si quaeris peninsulam amoenam circumspice,Lansing,42.733635,-84.555328,10077331,22,Eastern White Pine
22,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,Lake Superior,Eagle Mountain,http://mn.gov/,"$32,638","$70,315",8,[CST],L’étoile du Nord,St. Paul,44.955097,-93.102211,5706494,14,Norway Pine
23,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,"$21,036","$44,717",4,[CST],Virtute et armis,Jackson,32.303848,-90.182106,2961279,31,Southern Magnolia
24,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,"$26,126","$54,478",8,[CST],Salus populi suprema lex esto,Jefferson City,38.579201,-92.172935,6154913,18,Flowering Dogwood
25,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,"$25,989","$55,328",1,[MST],Oro y plata,Helena,46.585709,-112.018417,1084225,4,Ponderosa Pine
26,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,"$27,446","$59,566",3,"[CST, MST]",Equality before the law,Lincoln,40.808075,-96.699654,1961504,15,Cottonwood
27,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,Colorado River at California border,Boundary Peak,http://www.nv.gov/,"$25,773","$58,646",4,"[MST, PST]",All for our country,Carson City,39.163914,-119.766121,3104614,7,Bristlecone Pine
28,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,Atlantic Ocean,Mount Washington,http://www.nh.gov/,"$34,691","$74,991",2,[EST],Live free or die,Concord,43.206898,-71.537994,1377529,44,White Birch
29,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,Atlantic Ocean,High Point,www.nj.gov,"$37,288","$81,740",12,[EST],Liberty and Prosperity,Trenton,40.220596,-74.769913,9288994,46,Northern Red Oak
30,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,"$23,683","$47,169",3,[MST],Crescit eundo,Santa Fe,35.68224,-105.939728,2117522,5,Two-Needle Pinon Pine
31,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,Atlantic Ocean,Mount Marcy,https://www.ny.gov/,"$33,095","$67,844",27,[EST],Excelsior!,Albany,35.78043,-78.639099,20201249,30,Sugar Maple
32,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,"$25,774","$53,855",13,[EST],Esse quam videri,Raleigh,46.82085,-100.783318,10439388,29,Pine Tree
33,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,Red River of the North at Manitoba border,White Butte,http://nd.gov/,"$33,071","$63,837",1,"[CST, MST]","Liberty and union, now and forever, one and in...",Bismarck,42.652843,-73.757874,779094,17,American Elm
34,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,"$26,937","$56,111",16,[EST],"With God, all things are possible",Columbus,39.961346,-82.999069,11799448,35,Ohio Buckeye
35,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,Little River at Arkansas border,Black Mesa,http://www.ok.gov/,"$25,229","$51,924",5,[CST],Labor omnia vincit,Oklahoma City,35.492207,-97.503342,3959353,19,Redbud
36,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,Pacific Ocean,Mount Hood,http://www.oregon.gov/,"$27,646","$63,426",5,"[MST, PST]","The Union, and Alis volat propriis",Salem,44.938461,-123.030403,4237256,10,Douglas-Fir
37,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,"$29,220","$60,905",18,[EST],"Virtue, Liberty and Independence",Harrisburg,40.264378,-76.883598,13002700,32,Eastern Hemlock
38,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,"$30,830","$64,340",2,[EST],Hope,Providence,41.830914,-71.414963,1097379,51,Red Maple
39,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,Atlantic Ocean,Sassafras Mountain,https://sc.gov/,"$24,596","$52,306",7,[EST],Dum spiro spero,Columbia,34.000343,-81.033211,5118425,40,Sabal Palmetto
40,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,"$26,959","$56,274",1,"[CST, MST]",Under God the people rule,Pierre,44.367031,-100.346405,886667,16,Black Hills Spruce
41,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,"$24,922","$52,375",9,"[CST, EST]",Agriculture and Commerce,Nashville,36.16581,-86.784241,6910840,34,Tulip Poplar
42,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,Gulf of Mexico,Guadalupe Peak,http://texas.gov/,"$27,125","$60,629",36,"[CST, MST]",Friendship,Austin,30.27467,-97.740349,29145505,2,Pecan
43,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,"$24,877","$71,414",4,[CST],Industry,Salt Lake City,40.777477,-111.888237,3271616,12,Quaking Aspen
44,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,Lake Champlain,Mount Mansfield,http://www.vermont.gov/,"$29,178","$60,782",1,[EST],Freedom and Unity and Stella quarta decima ful...,Montpelier,44.262436,-72.580536,643077,43,Sugar Maple
45,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,"$34,052","$72,577",11,[EST],Sic semper tyrannis,Richmond,37.538857,-77.43364,8631393,36,American Dogwood
46,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,Pacific Ocean,Mount Rainier,http://access.wa.gov/,"$31,841","$74,073",10,[PST],Al-ki,Olympia,47.035805,-122.905014,7705281,20,Western Hemlock
47,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,"$45,877","$85,203",1,[EST],Justitia Omnibus,"Washington, D.C.",38.9101,-77.0147,689545,56,Scarlet Oak
48,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,"$22,714","$44,097",3,[EST],Montani semper liberi,Charleston,38.336246,-81.612328,1793716,41,Sugar Maple
49,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,Lake Michigan,Timms Hill,http://www.wisconsin.gov/,"$28,213","$60,773",8,[CST],Forward,Madison,43.074684,-89.384445,5893718,25,Sugar Maple
50,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,"$29,698","$61,584",1,[MST],Equal Rights,Cheyenne,41.140259,-104.820236,576851,9,Plains Cottonwood

In [9]:
# Formating the column names
states_df.columns = states_df.columns.str.replace("_", " ").str.replace(".", " ").str.capitalize()
states_df

,Name,Postal,Date,Nickname,Fips,Demonym,Lowest point,Highest point,Website,Per capita income,Median household income,Representatives,Time zones,Motto,Capital name,Capital latitude,Capital longitude,Population total,Area land rank,Symbols tree
0,Alabama,AL,"Dec 14, 1819",Heart of Dixie,01,Alabamian,Gulf of Mexico,Cheaha Mountain,http://www.alabama.gov,"$23,606","$49,861",7,[CST],Audemus jura nostra defendere,Montgomery,32.377716,-86.300568,5024279,28,Southern Longleaf Pine
1,Alaska,AK,"Jan 3, 1959",The Last Frontier,02,Alaskan,"Gulf of Alaska, Bering Sea, and Arctic Ocean",Denali,http://alaska.gov/,"$33,062","$74,346",1,"[AKST, HST]",North to the Future,Juneau,58.301598,-134.420212,733391,1,Sitka Spruce
2,Arizona,AZ,"Feb 14, 1912",Grand Canyon State,04,Arizonan,"Colorado River at Sonora border, San Luis, Ari...",Humphreys Peak,https://az.gov/,"$25,715","$59,246",9,[MST],Ditat Deus,Phoenix,33.448143,-112.096962,7151502,6,Palo Verde
3,Arkansas,AR,"Jun 15, 1836",Natural State,05,Arkansan,Ouachita River at Louisiana border,Mount Magazine,http://www.arkansas.gov/,"$22,883","$47,062",4,[CST],Regnat populus,Little Rock,34.746613,-92.288986,3011524,27,Pine Tree
4,California,CA,"Sep 9, 1850",Golden State,06,Californian,Badwater Basin in Death Valley,Mount Whitney,https://www.ca.gov/,"$30,441","$75,277",53,[PST],Eureka,Sacramento,38.576668,-121.493629,39538223,3,"Coast Redwood,Giant Sequoia"
5,Colorado,CO,"Aug 1, 1876",Centennial State,08,Coloradan,Arikaree River at Kansas border,Mount Elbert,http://www.colorado.gov/,"$32,357","$71,953",7,[MST],Nil sine numine,Denver,39.739227,-104.984856,5773714,8,Colorado Blue Spruce
6,Connecticut,CT,"Jan 9, 1788",Constitution State,09,Connecticuter,Long Island Sound,Massachusetts border on the southern slope of ...,https://portal.ct.gov/,"$39,373","$76,348",5,[EST],Qui transtulit sustinet,Hartford,41.764046,-72.682198,3605944,48,Charter Oak
7,Delaware,DE,"Dec 7, 1787",First State,10,Delawarean,Atlantic Ocean,Near the Ebright Azimuth,https://delaware.gov/,"$30,488","$64,805",1,[EST],Liberty and independence,Dover,39.157307,-75.519722,989948,50,American Holly
8,Florida,FL,"Mar 3, 1845",Sunshine State,12,Floridian,Atlantic Ocean and Gulf of Mexico,Britton Hill,http://myflorida.com/,"$26,582","$55,462",27,[CST],In God we trust,Tallahassee,21.307442,-157.857376,21538187,26,Sabal Palm
9,Georgia,GA,"Jan 2, 1788",Peach State,13,Georgian,Atlantic Ocean,Brasstown Bald,https://www.georgia.gov/,"$25,615","$58,756",14,[EST],"Wisdom, Justice, Moderation",Atlanta,30.438118,-84.281296,10711908,21,Southern Live Oak
10,Hawaii,HI,"Aug 21, 1959",Aloha State,15,Hawaii resident,Pacific Ocean,Mauna Kea,http://portal.ehawaii.gov/,"$29,736","$80,212",2,[HST],Ua Mau ke Ea o ka ‘Āina i ka Pono,Honolulu,33.749027,-84.388229,1455271,47,Kukui Tree
11,Idaho,ID,"Jul 3, 1890",Gem State,16,Idahoan,Confluence of Snake River and Clearwater River,Borah Peak,http://www.idaho.gov/,"$23,938","$55,583",2,"[MST, PST]",Esto perpetua,Boise,43.617775,-116.199722,1839106,11,Western White Pine
12,Illinois,IL,"Dec 3, 1818",Prairie State,17,Illinoisan,Confluence of Mississippi River and Ohio River,Charles Mound,https://www.illinois.gov/,"$30,417","$65,030",18,[CST],"State sovereignty, national union",Springfield,39.798363,-89.654961,12812508,24,White Oak
13,Indiana,IN,"Dec 11, 1816",Hoosier State,18,Hoosier,Confluence of Wabash River and Ohio River,Hoosier Hill,http://www.in.gov/,"$25,140","$55,746",9,"[CST, EST]",The crossroads of America,Indianapolis,39.768623,-86.162643,6785528,38,Tulip Tree
14,Iowa,IA,"Dec 28, 1846",Hawkeye State,19,Iowan,Confluence of Mississippi River and Des Moines...,Hawkeye Point,http://www.iowa.gov/,"$28,361","$59,955",4,[CST],Our liberties we prize and our rights we will ...,Des Moines,41.591087,-93.603729,3190369,23,Oak
15,Kansas,KS,"Jan 29, 1861",Sunflower State,20,Kansan,Verdigris River at Oklahoma border,Mount Sunflower,http://portal.kansas.gov/,"$27,870","$58,218",4,"[CST, EST]",Ad astra per aspera,Topeka,39.048191,-95.677956,2937880,13,Cottonwood
16,Kentucky,KY,"Jun 1, 1792",Bluegrass State,21,Kentuckian,Mississippi River at Kentucky Bend,Black Mountain,http://kentucky.gov/,"$23,684","$50,247",6,"[CST, EST]","United we stand, divided we fall",Frankfort,38.186722,-84.875374,4505836,37,Tulip Poplar
17,Louisiana,LA,"Apr 30, 1812",Pelican State,22,Louisianian,New Orleans,Driskill Mountain,http://louisiana.gov/,"$24,800","$47,905",6,[CST],"Union, justice, and confidence",Baton Rouge,30.457069,-91.187393,4657757,33,Bald Cypress
18,Maine,ME,"Mar 15, 1820",Pine Tree State,23,Mainer,Atlantic Ocean,Mount Katahdin,http://www.maine.gov/,"$27,978","$55,602",2,[EST],Dirigo,Augusta,44.307167,-69.781693,1362359,39,Eastern White Pine
19,Maryland,MD,"Apr 28, 1788",Old Line State,24,Marylander,Atlantic Ocean,Hoye-Crest,www.maryland.gov,"$36,338","$83,242",8,[EST],"Fatti maschi, parole femmine",Annapolis,38.978764,-76.490936,6177224,42,White Oak
20,Massachusetts,MA,"Feb 6, 1788",Bay State,25,Massachusettsan,Atlantic Ocean,Mount Greylock,http://www.mass.gov/,"$36,593","$79,835",9,[EST],Ense petit placidam sub libertate quietem,Boston,42.358162,-71.063698,7029917,45,American Elm
21,Michigan,MI,"Jan 26, 1837",Great Lakes State,26,Michiganian,Lake Erie,Mount Arvon,http://www.michigan.gov/,"$26,613","$56,697",14,"[CST, EST]",Si quaeris peninsulam amoenam circumspice,Lansing,42.733635,-84.555328,10077331,22,Eastern White Pine
22,Minnesota,MN,"May 11, 1858","Land of 10,000 Lakes",27,Minnesotan,Lake Superior,Eagle Mountain,http://mn.gov/,"$32,638","$70,315",8,[CST],L’étoile du Nord,St. Paul,44.955097,-93.102211,5706494,14,Norway Pine
23,Mississippi,MS,"Dec 10, 1817",Magnolia State,28,Mississippian,Gulf of Mexico,Woodall Mountain,http://www.ms.gov/,"$21,036","$44,717",4,[CST],Virtute et armis,Jackson,32.303848,-90.182106,2961279,31,Southern Magnolia
24,Missouri,MO,"Aug 10, 1821",Show-Me State,29,Missourian,Saint Francis River at southern Arkansas border,Taum Sauk Mountain,http://www.mo.gov/,"$26,126","$54,478",8,[CST],Salus populi suprema lex esto,Jefferson City,38.579201,-92.172935,6154913,18,Flowering Dogwood
25,Montana,MT,"Nov 8, 1889",Treasure State,30,Montanan,Kootenai River at Idaho border,Granite Peak,http://www.mt.gov/,"$25,989","$55,328",1,[MST],Oro y plata,Helena,46.585709,-112.018417,1084225,4,Ponderosa Pine
26,Nebraska,NE,"Mar 1, 1867",Cornhusker State,31,Nebraskan,Missouri River at Kansas border,Panorama Point,http://www.nebraska.gov/,"$27,446","$59,566",3,"[CST, MST]",Equality before the law,Lincoln,40.808075,-96.699654,1961504,15,Cottonwood
27,Nevada,NV,"Oct 31, 1864",Silver State,32,Nevadan,Colorado River at California border,Boundary Peak,http://www.nv.gov/,"$25,773","$58,646",4,"[MST, PST]",All for our country,Carson City,39.163914,-119.766121,3104614,7,Bristlecone Pine
28,New Hampshire,NH,"Jun 21, 1788",Granite State,33,New Hampshirite,Atlantic Ocean,Mount Washington,http://www.nh.gov/,"$34,691","$74,991",2,[EST],Live free or die,Concord,43.206898,-71.537994,1377529,44,White Birch
29,New Jersey,NJ,"Dec 18, 1787",Garden State,34,New Jerseyan,Atlantic Ocean,High Point,www.nj.gov,"$37,288","$81,740",12,[EST],Liberty and Prosperity,Trenton,40.220596,-74.769913,9288994,46,Northern Red Oak
30,New Mexico,NM,"Jan 6, 1912",Land of Enchantment,35,New Mexican,Red Bluff Reservoir on Texas border,Wheeler Peak,http://www.newmexico.gov/,"$23,683","$47,169",3,[MST],Crescit eundo,Santa Fe,35.68224,-105.939728,2117522,5,Two-Needle Pinon Pine
31,New York,NY,"Jul 26, 1788",Empire State,36,New Yorker,Atlantic Ocean,Mount Marcy,https://www.ny.gov/,"$33,095","$67,844",27,[EST],Excelsior!,Albany,35.78043,-78.639099,20201249,30,Sugar Maple
32,North Carolina,NC,"Nov 21, 1789",Tar Heel State,37,North Carolinian,Atlantic Ocean,Mount Mitchell,https://www.nc.gov/,"$25,774","$53,855",13,[EST],Esse quam videri,Raleigh,46.82085,-100.783318,10439388,29,Pine Tree
33,North Dakota,ND,"Nov 2, 1889",Peace Garden State,38,North Dakotan,Red River of the North at Manitoba border,White Butte,http://nd.gov/,"$33,071","$63,837",1,"[CST, MST]","Liberty and union, now and forever, one and in...",Bismarck,42.652843,-73.757874,779094,17,American Elm
34,Ohio,OH,"Mar 1, 1803",Buckeye State,39,Ohioan,Ohio River at Indiana border,Campbell Hill,http://ohio.gov/,"$26,937","$56,111",16,[EST],"With God, all things are possible",Columbus,39.961346,-82.999069,11799448,35,Ohio Buckeye
35,Oklahoma,OK,"Nov 16, 1907",Sooner State,40,Oklahoman,Little River at Arkansas border,Black Mesa,http://www.ok.gov/,"$25,229","$51,924",5,[CST],Labor omnia vincit,Oklahoma City,35.492207,-97.503342,3959353,19,Redbud
36,Oregon,OR,"Feb 14, 1859",Beaver State,41,Oregonian,Pacific Ocean,Mount Hood,http://www.oregon.gov/,"$27,646","$63,426",5,"[MST, PST]","The Union, and Alis volat propriis",Salem,44.938461,-123.030403,4237256,10,Douglas-Fir
37,Pennsylvania,PA,"Dec 12, 1787",Keystone State,42,Pennsylvanian,Delaware River at Delaware border,Mount Davis,https://www.pa.gov/,"$29,220","$60,905",18,[EST],"Virtue, Liberty and Independence",Harrisburg,40.264378,-76.883598,13002700,32,Eastern Hemlock
38,Rhode Island,RI,"May 29, 1790",Ocean State,44,Rhode Islander,Atlantic Ocean,Jerimoth Hill,http://www.ri.gov/,"$30,830","$64,340",2,[EST],Hope,Providence,41.830914,-71.414963,1097379,51,Red Maple
39,South Carolina,SC,"May 23, 1788",Palmetto State,45,South Carolinian,Atlantic Ocean,Sassafras Mountain,https://sc.gov/,"$24,596","$52,306",7,[EST],Dum spiro spero,Columbia,34.000343,-81.033211,5118425,40,Sabal Palmetto
40,South Dakota,SD,"Nov 2, 1889",The Mount Rushmore State,46,South Dakotan,Big Stone Lake on Minnesota border,Black Elk Peak,http://sd.gov/,"$26,959","$56,274",1,"[CST, MST]",Under God the people rule,Pierre,44.367031,-100.346405,886667,16,Black Hills Spruce
41,Tennessee,TN,"Jun 1, 1796",Volunteer State,47,Tennessean,Mississippi River at Mississippi border,Clingmans Dome,http://www.tn.gov/,"$24,922","$52,375",9,"[CST, EST]",Agriculture and Commerce,Nashville,36.16581,-86.784241,6910840,34,Tulip Poplar
42,Texas,TX,"Dec 29, 1845",Lone Star State,48,Texan,Gulf of Mexico,Guadalupe Peak,http://texas.gov/,"$27,125","$60,629",36,"[CST, MST]",Friendship,Austin,30.27467,-97.740349,29145505,2,Pecan
43,Utah,UT,"Jan 4, 1896",Beehive State,50,Utahn,Beaver Dam Wash at Arizona border,Kings Peak,https://utah.gov/,"$24,877","$71,414",4,[CST],Industry,Salt Lake City,40.777477,-111.888237,3271616,12,Quaking Aspen
44,Vermont,VT,"Mar 4, 1791",Green Mountain State,51,Vermonter,Lake Champlain,Mount Mansfield,http://www.vermont.gov/,"$29,178","$60,782",1,[EST],Freedom and Unity and Stella quarta decima ful...,Montpelier,44.262436,-72.580536,643077,43,Sugar Maple
45,Virginia,VA,"Jun 25, 1788",The Old Dominion,78,Virginian,Atlantic Ocean,Mount Rogers,http://www.virginia.gov/,"$34,052","$72,577",11,[EST],Sic semper tyrannis,Richmond,37.538857,-77.43364,8631393,36,American Dogwood
46,Washington,WA,"Nov 11, 1889",Evergreen State,53,Washingtonian,Pacific Ocean,Mount Rainier,http://access.wa.gov/,"$31,841","$74,073",10,[PST],Al-ki,Olympia,47.035805,-122.905014,7705281,20,Western Hemlock
47,"Washington, D.C.",DC,"Jul 16, 1790",The District,11,Washingtonian,Potomac River at eastern Maryland border,Fort Reno,http://www.dc.gov,"$45,877","$85,203",1,[EST],Justitia Omnibus,"Washington, D.C.",38.9101,-77.0147,689545,56,Scarlet Oak
48,West Virginia,WV,"Jun 20, 1863",Mountain State,54,West Virginian,Potomac River at Virginia border,Spruce Knob,http://www.wv.gov,"$22,714","$44,097",3,[EST],Montani semper liberi,Charleston,38.336246,-81.612328,1793716,41,Sugar Maple
49,Wisconsin,WI,"May 29, 1848",Badger State,55,Wisconsinite,Lake Michigan,Timms Hill,http://www.wisconsin.gov/,"$28,213","$60,773",8,[CST],Forward,Madison,43.074684,-89.384445,5893718,25,Sugar Maple
50,Wyoming,WY,"Jul 10, 1890",Equality State,56,Wyomingite,Belle Fourche River at South Dakota border,Gannett Peak,http://wyo.gov/,"$29,698","$61,584",1,[MST],Equal Rights,Cheyenne,41.140259,-104.820236,576851,9,Plains Cottonwood

In [10]:
# Convert the data frame to HTML file
states_df.to_html('../templates/states.html',index=False)

In [11]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring 
querystring = {"query":"Entry Level Data Scientist in USA","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_scientists = response.json()

# Write the data to a json file
with open('../data/entry_level_data_scientists.json', 'w') as outfile:
    json.dump(entry_level_data_scientists, outfile, indent=4)

In [12]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring
querystring = {"query":"Entry Level Data Analyst in USA","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_data_analyst = response.json()

# Write the data to a json file
with open('../data/entry_level_data_analyst.json', 'w') as outfile:
    json.dump(entry_level_data_analyst, outfile, indent=4)

In [13]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring
querystring = {"query":"Entry Level Python developer in USA","page":"1","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_python_developer = response.json()

# Write the data to a json file 
with open('../data/entry_level_python_developer.json', 'w') as outfile:
    json.dump(entry_level_python_developer, outfile, indent=4)

In [14]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/search"

# Set querystring
querystring = {"query":"Entry Level full stack developer in  USA","page":"1","num_pages":"20"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
entry_level_full_stack_developer = response.json()

# Write the data to a json file
with open('../data/entry_level_full_stack_developer.json', 'w') as outfile:
    json.dump(entry_level_full_stack_developer, outfile, indent=4)

In [15]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df = pd.json_normalize(entry_level_data_analyst, 'data')
new_df = df.loc[:, columns]
new_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
1,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,Roswell,GA,US,34.023243,-84.361560
2,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.adzuna.com/details/3881206767,Job description\n\nAbout us\n\nStaffigo is in ...,False,Concord,AL,US,33.467610,-87.031105
3,"Strategic IT Staffing, LLC",Remote Data Analyst - Entry Level,https://www.linkedin.com/jobs/view/remote-data...,What You'll Be Doing\n\nThis position plays a ...,True,San Jose,CA,US,37.338740,-121.885254
4,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.adzuna.com/details/3881206394,Job description\n\nAbout us\n\nStaffigo is in ...,False,Detroit,IL,US,39.620600,-90.676796
...,...,...,...,...,...,...,...,...,...,...
59,Staffigo Technical Services LLC,Entry Level Data Analyst,https://www.jobilize.com/job/us-nh-nashua-entr...,About us\n\nStaffigo is in the business of pro...,False,Nashua,NH,US,42.765366,-71.467570
60,Staffigo Technical Services LLC,Entry Level Data Analyst,https://www.jobilize.com/job/us-ca-santa-ana-e...,About us\n\nStaffigo is in the business of pro...,False,Santa Ana,CA,US,33.745472,-117.867650
61,Staffigo Technical Services LLC,Entry Level Data Analyst,https://www.jobilize.com/job/us-ne-lincoln-ent...,About us\n\nStaffigo is in the business of pro...,False,Lincoln,NE,US,40.813618,-96.702600
62,Staffigo Technical Services LLC,Entry Level Data Analyst,https://www.jobilize.com/job/us-ny-albany-entr...,About us\n\nStaffigo is in the business of pro...,False,Albany,NY,US,42.652580,-73.756230
63,Staffigo Technical Services LLC,Entry Level Data Analyst,https://www.jobilize.com/job/us-indianapolis-e...,About us\n\nStaffigo is in the business of pro...,False,Indianapolis,IN,US,39.768402,-86.158066

In [16]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df2 = pd.json_normalize(entry_level_data_scientists, 'data')
new_data_df = df2.loc[:, columns]
new_data_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,National Security Agency,Data Scientist - Entry to Expert Level (Maryla...,https://www.linkedin.com/jobs/view/data-scient...,Responsibilities\n\nData science at the Nation...,False,Fort Meade,MD,US,39.104263,-76.734240
1,I28 Technologies,Entry Level Data Scientist-333325,https://www.glassdoor.com/job-listing/entry-le...,"• Analysis tools, defining, and implementing i...",False,Marysville,MI,US,42.912530,-82.486860
2,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Lansing,MI,US,42.732536,-84.555534
3,Lawrence Livermore National Laboratory,Data Scientist - Entry Level,https://www.karkidi.com/job-details/29968-data...,We have openings for Data Scientists to provid...,False,Livermore,CA,US,37.681870,-121.768470
4,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.recruit.net/job/entry-level-jobs/E...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,None,AZ,US,34.048927,-111.093735
5,SynergisticIT,Entry Level Data Scientist,https://www.linkedin.com/jobs/view/entry-level...,"At SynergisticIT, we aim to bring aboard IT pr...",False,Flagstaff,AZ,US,35.198284,-111.651300
6,TEKtalent Inc,Data Science Engineer (Entry Level),https://www.linkedin.com/jobs/view/data-scienc...,We are seeking a Data Analyst (Entry Level) to...,True,San Antonio,TX,US,29.425190,-98.494590
7,SynergisticIT,entry level data scientist,https://us.bebee.com/job/20230126-cbae850d43d8...,SYNERGISTICIT wants every candidate to know th...,False,Denver,CO,US,39.739235,-104.990250
8,IBM,Data Scientist - 2023 Entry Level Sales,https://www.karkidi.com/job-details/35611-data...,"In this role, you’ll be the go-to subject matt...",False,New York,NY,US,40.712776,-74.005974
9,SynergisticIT,Entry Level Data Scientist,https://us.trabajo.org/job-1842-20230128-62b75...,About Us:\nSynergistic IT is a full-service st...,False,New York,NY,US,40.712776,-74.005974
10,SynergisticIT,Junior Level Data Scientist,https://www.ziprecruiter.com/c/SynergisticIT/J...,"Job Description\n\nGreetings,\nSynergistic IT ...",False,Fremont,CA,US,37.548540,-121.988590
11,SynergisticIT,Junior Data Scientist,https://www.linkedin.com/jobs/view/junior-data...,About Us\n\nSynergistic IT is a full-service s...,False,Seattle,WA,US,47.606210,-122.332070
12,Roblox,Data Scientist Intern - Economics (Summer 2023),https://ai-jobs.net/job/39461-data-scientist-i...,"Every day, tens of millions of people come to ...",False,San Mateo,CA,US,37.562992,-122.325520
13,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
14,Staffingly,Full time - Entry level Data Analyst (Remote),https://www.linkedin.com/jobs/view/full-time-e...,Taking care of people is at the heart of every...,True,Denver,CO,US,39.739235,-104.990250
15,SynergisticIT,Data Scientist (Remote),https://www.linkedin.com/jobs/view/data-scient...,Synergistic IT is a full-service staffing and ...,True,Kansas City,KS,US,39.115532,-94.626785
16,Eurofins USA BioPharma Services,Cell and Molecular Biology Data Review Scienti...,https://www.wayup.com/i-j-Eurofins-USA-BioPhar...,Job Description\n\nEMPLOYEE RESPONSIBILITIES:\...,False,Lancaster,PA,US,40.037876,-76.305510
17,CGI,Junior Data Scientist,https://www.linkedin.com/jobs/view/junior-data...,Position Description\n\nThis is an exciting fu...,False,Arlington,VA,US,38.879970,-77.106770
18,NXP Semiconductors,Entry Level Data Science - December 2022 and M...,https://www.simplyhired.com/job/KMm_B7cp6tZt9G...,"Our business runs on Data, and having an accur...",False,Austin,TX,US,30.267153,-97.743060
19,Eurofins USA BioPharma Services,Entry Level Data Scientist,https://www.mendeley.com/careers/job/entry-lev...,Job Description\n\nNOT A CODING OR DATA SCIENC...,False,Lancaster,PA,US,40.037876,-76.305510
20,Verizon,Advanced Analytics Entry-Level Opportunities,https://www.verizon.com/about/work/jobs/111163...,When you join Verizon\n\nVerizon is one of the...,False,Boston,MA,US,42.360080,-71.058880
21,SynergisticIT,Entry Level Programmer/Coder/Developer/Data Sc...,https://us.bebee.com/job/20230124-e1b9cb7a1fdf...,SYNERGISTICIT wants every candidate to know th...,False,New York,NY,US,40.712776,-74.005974
22,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Mahwah,NJ,US,41.088623,-74.143585
23,U.S. News & World Report,Health Data Scientist (Remote),https://www.linkedin.com/jobs/view/health-data...,U.S. News & World Report is a multifaceted dig...,True,Washington,DC,US,38.907192,-77.036870
24,Synergistic IT,ENTRY LEVEL DATA SCIENTIST,https://houston-tx.geebo.com/jobs-online/view/...,SYNERGISTICIT wants every candidate to know th...,False,Houston,TX,US,29.760427,-95.369804
25,General Motors,Entry Level - Masters Degree Data Analyst,https://www.karkidi.com/job-details/18787-entr...,To achieve our vision of a world with Zero Cra...,False,Detroit,MI,US,42.331430,-83.045750
26,Indotronix Avani Group,IT - Data Scientist fully remote,https://www.linkedin.com/jobs/view/it-data-sci...,Position : IT - Data Scientist 4\n\nPosition L...,True,None,None,US,37.090240,-95.712890
27,CGI,Data Analyst- Entry Level,https://www.linkedin.com/jobs/view/data-analys...,Position Description\n\nto collaborate with a ...,False,Hartford,CT,US,41.765804,-72.673370
28,LMI,Data Scientist - Clearance Required,https://www.linkedin.com/jobs/view/data-scient...,Overview\n\nLMI is a consultancy dedicated to ...,False,Fort Belvoir,VA,US,38.718872,-77.154270
29,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Lansing,MI,US,42.732536,-84.555534
30,Staffigo,Junior Data Analyst,https://www.linkedin.com/jobs/view/junior-data...,About Us\n\nStaffigo is in the business of pro...,False,Flint,MI,US,43.012527,-83.687454
31,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Nashua,NH,US,42.765366,-71.467570
32,Texas Workforce Commission,Data Analyst (Telework),https://www.linkedin.com/jobs/view/data-analys...,Who We Are\n\nTexas Workforce Commission conne...,False,Austin,TX,US,30.267153,-97.743060
33,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Raleigh,NC,US,35.779590,-78.638176
34,FLYR,Data Scientist Intern,https://ai-jobs.net/job/36256-data-scientist-i...,Our VisionFLYR Labs is focused on the relentle...,False,Los Angeles,CA,US,34.052235,-118.243680
35,"Strategic IT Staffing, LLC",Remote Data Analyst - Entry Level,https://www.linkedin.com/jobs/view/remote-data...,What You'll Be Doing\n\nThis position plays a ...,True,San Jose,CA,US,37.338740,-121.885254
36,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,San Francisco,CA,US,37.774930,-122.419420
37,University of Pennsylvania,Temporary Data Scientist- Remote Eligible,https://www.linkedin.com/jobs/view/temporary-d...,University Overview\n\nThe University of Penns...,True,Philadelphia,PA,US,39.952583,-75.165220
38,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Seattle,WA,US,47.606210,-122.332070
39,Resume Library,Data Scientist/ Data Analyst (Remote),https://www.mendeley.com/careers/job/data-scie...,SYNERGISTICIT wants every candidate to know th...,False,Los Angeles,CA,US,34.052235,-118.243680
40,Staffigo,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nStaffigo is in the business of pro...,False,Atlanta,GA,US,33.748753,-84.387690
41,SynergisticIT,Entry Level Programmer/Coder/Developer/Data Sc...,https://www.recruit.net/job/programmer-jobs/3C...,SYNERGISTICIT wants every candidate to know th...,False,Austin,TX,US,30.267153,-97.743060
42,SynergisticIT,Entry Level Data Scientist,https://www.whatjobs.com/jobs/Entry-Level-Data...,Job Description SYNERGISTICIT wants every cand...,False,Burnsville,NC,US,35.112373,-80.244510
43,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://us.trabajo.org/job-1275-20230125-38916...,About us\n\nStaffigo is in the business of pro...,False,New York,NY,US,40.712776,-74.005974
44,RecruitTalent,Mid-Level Data Scientist,https://www.linkedin.com/jobs/view/mid-level-d...,"As a Mid-Level Data Engineer, this role focuse...",False,Herndon,VA,US,38.969555,-77.386100
45,RAND Corporation,"Statistical Research Programmer, Entry Level",https://www.karkidi.com/job-details/28242-stat...,"Statistical Research Programmers, Level 1 work...",False,Santa Monica,CA,US,34.019455,-118.491190

In [17]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df3 = pd.json_normalize(entry_level_python_developer, 'data')
python_df = df3.loc[:, columns]
python_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,SynergisticIT,Entry Level Python Programmer,https://www.linkedin.com/jobs/view/entry-level...,Synergistic IT is a full-service staffing and ...,False,Lexington,MA,US,42.447350,-71.227150
1,Pykube,Entry Level Python Developer,https://www.salary.com/job/pykube/entry-level-...,Pykube is a full service staffing and placemen...,False,San Francisco,CA,US,37.774930,-122.419420
2,SynergisticIT,Entry Level Python Developer,https://www.ziprecruiter.com/c/SynergisticIT/J...,Job Description\n\nAbout us:\nSynergistic IT w...,False,Framingham,MA,US,42.279285,-71.416150
3,SynergisticIT,Entry Level Python Developer,https://us.bebee.com/job/20230129-eb1fb84cb355...,About Us:\nSynergistic IT is a full-service st...,False,Houston,TX,US,29.760427,-95.369804
4,I28 Technologies,Entry level Python developer-333336,https://www.glassdoor.com/job-listing/entry-le...,• Coordinating with development teams to deter...,False,Lorain,OH,US,41.452820,-82.182370
5,SynergisticIT,Entry Level Python Developer (Remote),https://www.monster.com/job-openings/entry-lev...,SYNERGISTICIT wants every candidate to know th...,False,None,TX,US,31.968600,-99.901810
6,SynergisticIT,Junior Software Developer-Python,https://www.ziprecruiter.com/c/SynergisticIT/J...,Job Description\n\nAbout Us:\nSynergistic IT i...,False,Cary,NC,US,35.791540,-78.781120
7,SynergisticIT,Entry Level Python Developer,https://www.linkedin.com/jobs/view/entry-level...,Job Description SYNERGISTICIT wants every cand...,False,San Antonio,TX,US,29.425190,-98.494590
8,SynergisticIT,ENTRY LEVEL PYTHON DEVELOPER,https://www.monster.com/job-openings/entry-lev...,SYNERGISTICIT wants every candidate to know th...,False,Nashville,TN,US,36.162663,-86.781600
9,Robert Half,Python Developer - Entry Level,https://www.roberthalf.com/job/west-des-moines...,As an Entry Level Software Developer on the Da...,False,West Des Moines,IA,US,41.563890,-93.759384
10,Magnus Technology Solutions,Junior Python Developer,https://www.linkedin.com/jobs/view/junior-pyth...,Role: Junior Python Developer\n\nLocation: Ind...,False,Indianapolis,IN,US,39.768402,-86.158066
11,I28 Technologies,Entry Level Python Developer -AWS Developer,https://www.glassdoor.com/job-listing/entry-le...,• JavaScripting or any scripting\n• Work exper...,False,Honolulu,HI,US,21.309885,-157.858140
12,I28 Technologies Corporation,Entry Level Python Developer,https://www.glassdoor.com/job-listing/entry-le...,• Build efficient back-end features in Python/...,False,Honolulu,HI,US,21.309885,-157.858140
13,Synergistic IT,Entry Level Python Developer,https://jooble.org/jdp/6994661704612172569/Ent...,SynergisticIT is committed to fast track your ...,False,Orlando,FL,US,28.538383,-81.378930
14,i28 technologies corporation,Entry Level Python Developer with Flask - 114047,https://www.glassdoor.com/job-listing/entry-le...,• Knowledge in Python and Flask\n• Django and ...,False,Marysville,MI,US,42.912530,-82.486860
15,ConsultAdd,Entry Level Python Developer,https://www.adzuna.com/details/1855700000,Role-Python Developer.\n\nDefinition - A Pytho...,False,New York,NY,US,40.712776,-74.005974
16,Inspire,Python Engineer (Remote),https://www.linkedin.com/jobs/view/python-engi...,"In-office locations: Santa Monica, CA, USA and...",True,Los Angeles,CA,US,34.052235,-118.243680
17,SynergisticIT,Junior Python Programmer,https://www.mendeley.com/careers/job/junior-py...,SynergisticIT is committed to fast track your ...,False,Fremont,CA,US,37.548540,-121.988590
18,Sulekha.com Client - Magnus Technology Solutio...,Junior Python Developer Jobs in Magnus Technol...,https://localjobs.sulekha.com/0-to-3-years-exp...,Job title: Junior Python developer\nDuration: ...,False,New York,NY,US,40.712776,-74.005974
19,Piper Companies,Remote Python Developer,https://www.linkedin.com/jobs/view/remote-pyth...,Piper Companies is seeking a Remote Python Dev...,True,None,None,US,37.090240,-95.712890
20,SynergisticIT,ENTRY LEVEL PYTHON DEVELOPER,https://www.jobilize.com/job/us-il-chicago-ent...,SYNERGISTICIT wants every candidate to know th...,False,Chicago,IL,US,41.878113,-87.629800
21,Leidos,Python Developer TS/SCI REQUIRED,https://careers.leidos.com/jobs/10497547-pytho...,Description\n\nJob Description:\n\nLeidos is s...,False,Denver,CO,US,39.739235,-104.990250
22,Dice,"SAS Mainframe Python Developer - Seattle, WA (...",https://www.linkedin.com/jobs/view/sas-mainfra...,Dice is the leading career destination for tec...,True,None,None,US,37.090240,-95.712890
23,Indotronix International Corporation,Junior Python Developer/Analyst - W2 Only,https://lensa.com/junior-python-developeranaly...,Junior Python Developer\n\nRemote\n\n6 months ...,False,Eden Prairie,MN,US,44.854687,-93.470790
24,Syrinx Consulting,Remote - Python Developer w/AWS,https://www.linkedin.com/jobs/view/remote-pyth...,Syrinx Consulting is looking for a mid to seni...,False,Providence,RI,US,41.823990,-71.412834
25,SynergisticIT,Entry Level Python Developer,https://us.trabajo.org/job-1842-20230125-76334...,About Us:\nSynergistic IT is a full-service st...,False,Dallas,TX,US,32.776665,-96.796990
26,Apex Systems,Remote Python Developer,https://www.linkedin.com/jobs/view/remote-pyth...,Job#: 1324328\n\nJob Description:\n\nApex Syst...,True,Johnston,IA,US,41.670982,-93.713050
27,Diverse Lynx,Python developer : Hartford - CT,https://www.linkedin.com/jobs/view/python-deve...,Job Description\n\nJob summary Strong Python d...,False,Hartford,CT,US,41.765804,-72.673370
28,Magnus Technology,Entry Level Python Developer,https://us.trabajo.org/job-1870-20230129-264f5...,Role: Junior Python DeveloperLocation: Newyork...,False,New York,NY,US,40.712776,-74.005974
29,Resume Library,Entry Level Python Data Engineer,https://us.trabajo.org/job-1842-20230128-5e384...,• Entry Level Job Opportunity for Python Data ...,False,Denver,CO,US,39.739235,-104.990250

In [18]:
# Select certain columns to be used and turn json file into a pandas data frame 
columns = ["employer_name","job_title","job_apply_link","job_description","job_is_remote","job_city","job_state","job_country","job_latitude","job_longitude"]
df4 = pd.json_normalize(entry_level_full_stack_developer, 'data')
full_stack_df = df4.loc[:, columns]
full_stack_df

,employer_name,job_title,job_apply_link,job_description,job_is_remote,job_city,job_state,job_country,job_latitude,job_longitude
0,TEKtalent Inc,Full - Stack Developer (Entry Level),https://www.linkedin.com/jobs/view/full-stack-...,"Full-stack Developer with AWS, Front End/AWS, ...",True,San Antonio,TX,US,29.425190,-98.494590
1,Antra.inc,Entry Level Full Stack Developer,https://www.simplyhired.com/job/vM0f5PhS8rmjXI...,Full Stack Developer\n\nThe role requires the ...,False,Sterling,VA,US,39.006700,-77.429130
2,IBM,2023 Entry Level Associate Developer: Full Stack,https://www.salary.com/job/ibm/2023-entry-leve...,Introduction\n\nA career in IBM Consulting emb...,False,Buffalo,NY,US,42.886448,-78.878370
3,CGI,Full Stack Developer Jr.-Mid Level,https://www.linkedin.com/jobs/view/full-stack-...,Position Description\n\nCGI Federal is seeking...,False,Chantilly,VA,US,38.894280,-77.431100
4,YepChat,Junior Full Stack Engineer,https://www.ziprecruiter.com/c/YepChat/Job/Jun...,We are looking for a talented and energetic fu...,False,Los Angeles,CA,US,34.052235,-118.243680
5,Upwork,Full Stack Developer. ( Entry Level ),https://www.upwork.com/freelance-jobs/apply/Fu...,( Only USC/ GC allowed ). Don't apply without ...,True,None,None,US,37.090240,-95.712890
6,i28 technologies corporation,Entry Level Java Full Stack Developer - 114001,https://www.simplyhired.com/job/_0i134emfEGFw9...,"1. J2EE technologies (Core Java, Spring framew...",False,Lorain,OH,US,41.452820,-82.182370
7,Accenture,Federal - Full Stack Software Developer,https://www.accenture.com/us-en/careers/jobdet...,Accenture Federal Services is seeking an exper...,False,New York,NY,US,40.712776,-74.005974
8,FirstEnergy,Full Stack Developer - Java - Remote,https://www.linkedin.com/jobs/view/full-stack-...,"Location:\n\nAkron, OH, US, 44320\n\nJob Funct...",True,Akron,OH,US,41.081444,-81.519005
9,IQVIA,Lead Full Stack Developer (Remote or Hybrid),https://jobs.iqvia.com/job/wayne/lead-full-sta...,Lead Full Stack Developer\n\nIQVIA is seeking ...,False,Wayne,PA,US,40.041600,-75.369890
10,ICF,Full Stack Developer (React) – REMOTE,https://www.linkedin.com/jobs/view/full-stack-...,"ICF is a rapidly growing, entrepreneurial, mul...",True,Reston,VA,US,38.958630,-77.357000
11,Accenture,Federal - Full Stack Developer,https://www.accenture.com/us-en/careers/jobdet...,"We are:\nAccenture Federal Services, bringing ...",False,Arlington,VA,US,38.879970,-77.106770
12,Generation USA,Junior Full Stack Java Developer,https://www.wayup.com/i-Education-j-Junior-Ful...,"Join our free, fully online 15-week program to...",False,None,None,US,37.090240,-95.712890
13,Dice,Full Stack Developer- Remote / Telecommute,https://www.linkedin.com/jobs/view/full-stack-...,Dice is the leading career destination for tec...,True,Chicago,IL,US,41.878113,-87.629800
14,HCLSoftware,Junior Developer,https://www.linkedin.com/jobs/view/junior-deve...,Full Stack Developer\n\nHCL Software\n\nARE YO...,True,Boca Raton,FL,US,26.368307,-80.128930
15,Triunity Software,Entry Level Java Developer,https://www.dice.com/job-detail/098f2a02-fabe-...,We are looking for a Entry- Mid Level Java Dev...,True,Austin,TX,US,30.267153,-97.743060
16,"Infovisa, Inc.",.NET Full Stack Developer,https://infovisa.applytojob.com/apply/qjgSubF4...,Infovisa is growing and we are seeking a talen...,False,Lincoln,NE,US,40.813618,-96.702600
17,AmerisourceBergen,Digital Employee Experience – Full Stack Devel...,https://www.linkedin.com/jobs/view/digital-emp...,Are you looking to make a difference in a pati...,True,None,None,US,37.090240,-95.712890
18,Accenture,Federal - Full Stack Developer,https://lensa.com/federal-full-stack-developer...,Organization: Accenture Federal ServicesLocati...,False,San Antonio,TX,US,29.425190,-98.494590
19,Accenture,Federal - Full Stack Software Developer,https://www.accenture.com/us-en/careers/jobdet...,Accenture Federal Services is seeking an exper...,False,Los Angeles,CA,US,34.052235,-118.243680
20,"Antra, Inc",Entry Level MEAN Stack Developer,https://www.simplyhired.com/job/XDK3Irs8GBmHhQ...,"In this role as a angular developer, you shoul...",False,Sterling,VA,US,39.006700,-77.429130
21,"Infovisa, Inc.",.NET Full Stack Developer,https://infovisa.applytojob.com/apply/qyYaYg7U...,Infovisa is growing and we are seeking a talen...,False,Cornelius,NC,US,35.486805,-80.860080
22,Upwork,React / Angular / Node.js / Fullstack Develope...,https://www.upwork.com/freelance-jobs/apply/Re...,We want to find a Full Stack Developer that ha...,True,None,None,US,37.090240,-95.712890
23,Cipher Tech Solutions,Full Stack Software/Web Developer: Mid Level (...,https://www.clearancejobs.com/jobs/6988254/ful...,Description:\n\nProvide support in the form of...,False,Washington,DC,US,38.907192,-77.036870
24,Form.io,Full Stack Developer (Remote),https://www.ziprecruiter.com/c/Form.io/Job/Ful...,Form.io is a platform for enterprise developer...,True,Dallas,TX,US,32.776665,-96.796990
25,Newcore Technology Group,Full Stack Developer (Entry Level),https://fullstackjob.com/job/2JOih1CAmC9kZdkpy...,"As a Full Stack Developer, you will be a part ...",False,Kansas City,MO,US,39.099728,-94.578570
26,Brooksource,Jr. Software Engineer,https://www.linkedin.com/jobs/view/jr-software...,Jr. Full Stack Developer - Remote\n\n6-month C...,True,Inver Grove Heights,MN,US,44.848022,-93.042720
27,"Def-Logix, Inc",Full Stack Developer,https://us.bebee.com/job/20230124-856f5538508f...,Role:\n\nFull Stack Developer We are looking f...,False,San Antonio,TX,US,29.425190,-98.494590
28,System One,"Full Stack Developer (Mid-Level, and Senior)",https://www.adzuna.com/details/3870618823,ALTA IT Services is a wholly owned subsidiary ...,False,None,None,US,37.090240,-95.712890
29,ASRC Federal,Full Stack Developer - REMOTE,https://www.linkedin.com/jobs/view/full-stack-...,ASRC Federal is seeking up to 6 Full Stack Sof...,True,None,None,US,37.090240,-95.712890
30,Accenture,Federal - Full Stack Development Manager,https://www.accenture.com/us-en/careers/jobdet...,Organization: Accenture Federal Services\n\nLo...,False,San Antonio,TX,US,29.425190,-98.494590
31,Trimble Inc.,Junior Full-Stack Developer,https://www.linkedin.com/jobs/view/junior-full...,Title: Junior Full-Stack Developer\n\nDepartme...,False,Knoxville,TN,US,35.960640,-83.920740
32,Dice,Junior Full Stack Developer,https://www.linkedin.com/jobs/view/junior-full...,Dice is the leading career destination for tec...,False,Denver,CO,US,39.739235,-104.990250
33,Scratch Financial,Mid-Level Full Stack Node.js Developer,https://www.linkedin.com/jobs/view/mid-level-f...,"Scratch Financial (""Scratchpay"") is a financia...",True,None,None,US,37.090240,-95.712890
34,Western Growers,Remote: Web Developer III,https://www.linkedin.com/jobs/view/remote-web-...,"Description\n\nFounded in 1926, Western Grower...",True,Irvine,CA,US,33.684566,-117.826510
35,Tekintegral,Mid-level Full stack engineer (Web Developer),https://www.linkedin.com/jobs/view/mid-level-f...,Mid level Full stack engineer\n\nLocation : Re...,True,None,None,US,37.090240,-95.712890
36,General Dynamics Information Technology,Mid level Full Stack Developer - Active Top Se...,https://www.linkedin.com/jobs/view/mid-level-f...,Job Description\n\nType of Requisition:\n\nReg...,True,Washington,DC,US,38.907192,-77.036870
37,Scratch Financial,Mid-Level Full-Stack JavaScript and C# Developer,https://www.linkedin.com/jobs/view/mid-level-f...,"Scratch Financial (""Scratchpay"") is a financia...",True,None,None,US,37.090240,-95.712890

In [19]:
# Add the four data frames together and format column names
result_df = pd.concat([new_df, new_data_df, python_df, full_stack_df], axis=0)
result_df.columns = result_df.columns.str.replace("_", " ").str.capitalize()
result_df

,Employer name,Job title,Job apply link,Job description,Job is remote,Job city,Job state,Job country,Job latitude,Job longitude
0,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us\n\nSynergistic IT is a full-service s...,False,Normal,IL,US,40.514202,-88.990630
1,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us\n\nStaffigo is in the business of pro...,False,Roswell,GA,US,34.023243,-84.361560
2,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.adzuna.com/details/3881206767,Job description\n\nAbout us\n\nStaffigo is in ...,False,Concord,AL,US,33.467610,-87.031105
3,"Strategic IT Staffing, LLC",Remote Data Analyst - Entry Level,https://www.linkedin.com/jobs/view/remote-data...,What You'll Be Doing\n\nThis position plays a ...,True,San Jose,CA,US,37.338740,-121.885254
4,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.adzuna.com/details/3881206394,Job description\n\nAbout us\n\nStaffigo is in ...,False,Detroit,IL,US,39.620600,-90.676796
...,...,...,...,...,...,...,...,...,...,...
33,Scratch Financial,Mid-Level Full Stack Node.js Developer,https://www.linkedin.com/jobs/view/mid-level-f...,"Scratch Financial (""Scratchpay"") is a financia...",True,None,None,US,37.090240,-95.712890
34,Western Growers,Remote: Web Developer III,https://www.linkedin.com/jobs/view/remote-web-...,"Description\n\nFounded in 1926, Western Grower...",True,Irvine,CA,US,33.684566,-117.826510
35,Tekintegral,Mid-level Full stack engineer (Web Developer),https://www.linkedin.com/jobs/view/mid-level-f...,Mid level Full stack engineer\n\nLocation : Re...,True,None,None,US,37.090240,-95.712890
36,General Dynamics Information Technology,Mid level Full Stack Developer - Active Top Se...,https://www.linkedin.com/jobs/view/mid-level-f...,Job Description\n\nType of Requisition:\n\nReg...,True,Washington,DC,US,38.907192,-77.036870
37,Scratch Financial,Mid-Level Full-Stack JavaScript and C# Developer,https://www.linkedin.com/jobs/view/mid-level-f...,"Scratch Financial (""Scratchpay"") is a financia...",True,None,None,US,37.090240,-95.712890

In [20]:
# Replace any nulls with None and format the rows
result_df = result_df.replace({np.nan: None})
result_df = result_df.replace({'\n': ' '}, regex=True)
result_df

,Employer name,Job title,Job apply link,Job description,Job is remote,Job city,Job state,Job country,Job latitude,Job longitude
0,SynergisticIT,Entry Level Data Analyst,https://www.linkedin.com/jobs/view/entry-level...,About Us Synergistic IT is a full-service sta...,False,Normal,IL,US,40.514202,-88.990630
1,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.ziprecruiter.com/c/Staffigo-Techni...,About us Staffigo is in the business of provi...,False,Roswell,GA,US,34.023243,-84.361560
2,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.adzuna.com/details/3881206767,Job description About us Staffigo is in the ...,False,Concord,AL,US,33.467610,-87.031105
3,"Strategic IT Staffing, LLC",Remote Data Analyst - Entry Level,https://www.linkedin.com/jobs/view/remote-data...,What You'll Be Doing This position plays a su...,True,San Jose,CA,US,37.338740,-121.885254
4,"Staffigo Technical Services, LLC",Entry Level Data Analyst,https://www.adzuna.com/details/3881206394,Job description About us Staffigo is in the ...,False,Detroit,IL,US,39.620600,-90.676796
...,...,...,...,...,...,...,...,...,...,...
33,Scratch Financial,Mid-Level Full Stack Node.js Developer,https://www.linkedin.com/jobs/view/mid-level-f...,"Scratch Financial (""Scratchpay"") is a financia...",True,None,None,US,37.090240,-95.712890
34,Western Growers,Remote: Web Developer III,https://www.linkedin.com/jobs/view/remote-web-...,"Description Founded in 1926, Western Growers ...",True,Irvine,CA,US,33.684566,-117.826510
35,Tekintegral,Mid-level Full stack engineer (Web Developer),https://www.linkedin.com/jobs/view/mid-level-f...,Mid level Full stack engineer Location : Remo...,True,None,None,US,37.090240,-95.712890
36,General Dynamics Information Technology,Mid level Full Stack Developer - Active Top Se...,https://www.linkedin.com/jobs/view/mid-level-f...,Job Description Type of Requisition: Regular...,True,Washington,DC,US,38.907192,-77.036870
37,Scratch Financial,Mid-Level Full-Stack JavaScript and C# Developer,https://www.linkedin.com/jobs/view/mid-level-f...,"Scratch Financial (""Scratchpay"") is a financia...",True,None,None,US,37.090240,-95.712890

In [21]:
# Convert the data frame to HTML file
result_df.to_html('../templates/jobs.html',index=False)

In [22]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/estimated-salary"

# Set querystring
querystring = {"job_title":"Entry Level Data Analyst","location":"USA","radius":"200"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
data_analyst_salary = response.json()

# Write the data to a json file
with open('../data/data_analyst_salary.json', 'w') as outfile:
    json.dump(data_analyst_salary, outfile, indent=4)

# Convert the json into a dataframe
columns = ["job_title", "min_salary", "max_salary", "median_salary"]
df5 = pd.json_normalize(data_analyst_salary, 'data')
data_analyst_salary_df = df5.loc[:, columns]
data_analyst_salary_df

                  job_title    min_salary    max_salary  median_salary
0  Entry Level Data Analyst  33000.000000  101000.00000     66423.9300
1  Entry Level Data Analyst  61562.000000   97643.00000     77532.0000
2  Entry Level Data Analyst     15.865385      31.73077        22.8375

In [23]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/estimated-salary"

# Set querystring
querystring = {"job_title":"Entry Level Data Scientist","location":"USA","radius":"200"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
data_scientist_salary = response.json()

# Write the data to a json file
with open('../data/data_scientist_salary.json', 'w') as outfile:
    json.dump(data_scientist_salary, outfile, indent=4)

# Convert the json into a dataframe
columns = ["job_title", "min_salary", "max_salary", "median_salary"]
df6 = pd.json_normalize(data_scientist_salary, 'data')
data_scientist_salary_df = df6.loc[:, columns]
data_scientist_salary_df

                    job_title  min_salary  max_salary  median_salary
0  Entry Level Data Scientist       89742      143738         113575
1  Entry Level Data Scientist       70496      135930          92872
2  Entry Level DATA Scientist       55000       81500          65561

In [24]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/estimated-salary"

# Set querystring
querystring = {"job_title":"Entry Level Full Stack Developer","location":"USA","radius":"200"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
full_stack_developer_salary = response.json()

# Write the data to a json file
with open('../data/full_stack_developer_salary.json', 'w') as outfile:
    json.dump(full_stack_developer_salary, outfile, indent=4)

# Convert the json into a dataframe
columns = ["job_title", "min_salary", "max_salary", "median_salary"]
df7 = pd.json_normalize(full_stack_developer_salary, 'data')
full_stack_developer_salary_df = df7.loc[:, columns]
full_stack_developer_salary_df

,job_title,min_salary,max_salary,median_salary
0,Entry Level Full Stack Developer,66161,106789.0,84055
1,Entry Level FULL Stack Software Developer,46000,136000.0,88251
2,full stack developer,85000,167536.5,126750

In [25]:
# Save url as variable
url = "https://jsearch.p.rapidapi.com/estimated-salary"

# Set querystring
querystring = {"job_title":"Entry Level Python Developer","location":"USA","radius":"200"}

# Set headers
headers = {
	"X-RapidAPI-Key": "575ca32490msh5a85e1221a9daf0p10835bjsnfdf17e56a208",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

# Make a GET request and save in variable
response = requests.request("GET", url, headers=headers, params=querystring)
python_developer_salary = response.json()

# Write the data to a json file
with open('../data/python_developer_salary.json', 'w') as outfile:
    json.dump(python_developer_salary, outfile, indent=4)

# Convert the json into a dataframe
columns = ["job_title", "min_salary", "max_salary", "median_salary"]
df8 = pd.json_normalize(python_developer_salary, 'data')
python_developer_salary_df = df8.loc[:, columns]
python_developer_salary_df

                      job_title  min_salary  max_salary  median_salary
0  Entry Level Python Developer       70919      115078          90647
1  Entry Level Python Developer       31000       88000          65416
2       Junior Python Developer       47767      111162          72869

In [26]:
# Find the average salary for each position
average_data_analyst_salary = data_analyst_salary_df['median_salary'].mean()
average_data_scientist_salary = data_scientist_salary_df['median_salary'].mean()
average_full_stack_developer_salary = full_stack_developer_salary_df['median_salary'].mean()
average_python_developer_salary = python_developer_salary_df['median_salary'].mean()

In [27]:
# Make a dictionary and then covert it into a pandas dataframe 
averages_dict = {'Job Role': ['Data Analyst', 'Data Scientist', 'Full Stack Developer', 'Python Developer'], 
                 'Median Salary': [average_data_analyst_salary, average_data_scientist_salary, 
                                   average_full_stack_developer_salary, average_python_developer_salary]}

averages_df = pd.DataFrame.from_dict(averages_dict)
averages_df['Median Salary'] = averages_df['Median Salary'].astype(int)
averages_df

               Job Role  Median Salary
0          Data Analyst          47992
1        Data Scientist          90669
2  Full Stack Developer          99685
3      Python Developer          76310

In [28]:
# Count the amount of times certain data analysis tools appear in the job descripiton
python_counts = result_df['Job description'].str.count('Python|python').sum()
sql_counts = result_df['Job description'].str.count('SQL|sql').sum()
nosql_counts = result_df['Job description'].str.count('NoSQL|nosql').sum()
excel_counts = result_df['Job description'].str.count('Excel|excel').sum()
r_counts = result_df['Job description'].str.contains('R|r').sum()
tableau_counts = result_df['Job description'].str.count('Tableau|tableau').sum()
powerbi_counts = result_df['Job description'].str.count('Power BI|PowerBI|power bi').sum()
javascript_counts = result_df['Job description'].str.count('javascript|Javascript').sum()
html_counts = result_df['Job description'].str.count('HTML|html').sum()
css_counts = result_df['Job description'].str.count('CSS|css').sum()
mongodb_counts = result_df['Job description'].str.count('MongoDB|MONGODB').sum()

In [29]:
# Make a dictionary and then convert to Data Frame
counts_dict = {'Data Analysis Tools': ['Python', 'SQL', 'NoSQL', 'Excel', 'R', 'Tableau', 'PowerBI', 'JavaScript', 'HTML', 'CSS', 'MongoDB'],
               'Count': [python_counts, sql_counts, nosql_counts, excel_counts, r_counts, tableau_counts, powerbi_counts, javascript_counts, html_counts, css_counts, mongodb_counts]}
counts_df = pd.DataFrame(counts_dict)
counts_df

   Data Analysis Tools  Count
0               Python    161
1                  SQL    117
2                NoSQL      6
3                Excel    188
4                    R    178
5              Tableau     70
6              PowerBI     40
7           JavaScript     23
8                 HTML     25
9                  CSS     27
10             MongoDB      3

In [31]:
# Connect to the MongoDB server
client = MongoClient()

# Choose the database you want to use
db = client.data_jobs

# Insert the clean_states_df data frame into a collection named "states"
db.states.insert_many(states_df.to_dict('records'))

# Insert the result_df data frame into a collection named "jobs"
db.jobs.insert_many(result_df.to_dict('records'))

# Insert the averages_df into a collection named "salaries"
db.salaries.insert_many(averages_df.to_dict('records'))

# Insert the counts_df into a collection named "tools"
db.tools.insert_many(counts_df.to_dict('records'))